@font-face {
    font-family: 'Geist';
    src: url('./geist.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('./roboto.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('./poppins.ttf');
}








*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: lab(8.11897% .811279 -12.254);
    font-family:'roboto', 'geist';
}

.signin{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color:blue;
}


.ppara{
    color:lab(65.9269% -.832707 -8.17473);
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding-right: 32px;
    padding-left: 32px;
    
    padding-bottom: 20px;
   
    color: white;
    border-bottom: 1px solid rgb(122, 118, 118);
}



.left-part{
    display:flex;
    
    align-items: center;
} 
.left-part .pen{
    color:lab(59.866% 22.4834 -64.4485);
    width:32px;
    height: 32px;
}
.penimg{
    margin-right: 8px;
}
.text{
    margin-right: 40px;
    width:100%;
    max-width: 1064px;
    height:24px;


}
.navigate li{
    list-style:none;
    font-size: 20px;
    color:lab(59.866% 22.4834 -64.4485);
}
.right-part{
    display:flex;
    gap:30px;
    align-items: center;
}
.right-part .log-out{
    text-decoration: none;
    color:lab(59.866% 22.4834 -64.4485);
    font-size: 24px;
}
.right-part .button button{
    padding: 8px 12px;
    width:102px;
    height:36px;
    border-radius: 8px;
    background-color: lab(48.295% 38.3129 -81.9673);
    color:white;
    font-size: 14px;
    font-weight: 600px;
    border: none;
    margin-left: 30px;
}
.herobanner{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-bottom: color-mix(in oklab, var(--color-white) 10%, transparent);
    padding-bottom: 90px;
}
.herobanner div .pen{
    width:76px;
    height:76px;
    margin-bottom: 32px;
    margin-top: 80px;
    color:lab(59.866% 22.4834 -64.4485);

}
.title{
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}
.description{
    margin-top: 24px;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color:rgb(120, 113, 113);
}
.notecreation{
    width:100px;
    height:50px;
    border-radius: 8px;
    background-color: blue;
    color:white;
    font-size: 18px;
    font-weight: 800px;
    border: none;
    margin-left: 30px;

}
.createnoteoption{
    color:white;
    display:flex;
    flex-direction: column;
    gap:15px;
    padding-left: 200px;
    padding-top:60px ;
    padding-bottom:60px;
    padding-right: 60px;

}
.lowerpart button{
    margin-top: 30px;
   
}
.lowerpart{
    display:flex;
    flex-direction: column;
    align-items: center; 
}
/*.hidewithnotes{
   /*margin-bottom: 20px;
   width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;

    padding:64px 144px;

    color:white;
   
}*/

.hidewithnotes{
    width:100%;

    display:flex;
    flex-direction:column;

    padding:64px 32px;

    color:white;

    margin:0;

    display:none;
}

.showallnotes{
    width:100%;

    display:flex;
    flex-direction:column;

    gap:20px;

    align-items:center;
}

.hidewithnotes .upperpart{
    align-self: flex-start;
    margin-left:196px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
/*.showallnotes{
    width:100%;
    align-self: flex-start;
    display:flex;
    flex-direction: column;
    /*align-items: flex-start;
   
    gap:20px;
    color:white;
    
}*/



.cardcontent{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:16px;
    line-height: 1.2;
    padding: 24px;

    cursor:pointer;
     
}
.cardicons{
    width:45px;
    padding: 8px 12px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgb(93, 90, 90);
    align-items: center;
   
}
.cardicons .trash i{
    color:red;
    font-size: 20px;
    background-color:#111827;
    border: none;
    border-bottom: none;
}
.cardicons .copy i{
    color:blue;
    font-size: 20px;
    background-color:#111827;
    border: none;
   

}
.card{
    width:100%;

    max-width:807px;

    min-height:150px;

    display:flex;

    justify-content:space-between;

    background-color:rgba(255,255,255,0.05);

    border:1px solid #374151;

    border-radius:12px;

    overflow:hidden;
}
.modal{
   
    position: fixed;

    top: 0;
    left: 0;

    width:100%;
    height:100%;

    display:none;

    justify-content:center;
    align-items:center;
    color:white;
    
    border:1px solid rgb(96, 93, 93);
    background-color: rgba(0,0,0,0.6);

    z-index:999;

}
.modal-box{
    width:400px;

    background-color:#111827;

    border:1px solid #374151;

    border-radius:12px;

    padding:30px;

    color:white;
}
.modal-card h3 {
    margin-bottom: 15px;

}
.modal .modal-actions{
    display: flex;
    gap:8px;
    margin-top:20px;
    justify-content: end;
}
.ddate{
    color:lab(65.9269% -.832707 -8.17473);
}
.ccontent{
    color:lab(65.9269% -.832707 -8.17473);
}
.hidden{
    display:none;
}
.modal-actions button{
    padding:10px 18px;

    border:none;

    border-radius:8px;

    cursor:pointer;
    color:white;
    font-size:16px;
    background-color: #111827;
}
#confirmDeleteBtn{
    background-color: red;
}
.trash{
    border:none;
    outline:none;
}
.copy{
    border:none;
    outline:none;
}
.cardicons .trash{
    color:red;
}
.cardicons .copy{
    color:blue;
}
.total-length{
    color:lab(65.9269% -.832707 -8.17473);
    margin-top: 8px;
}
.heading{
    font-size: 20px;
    font-weight: 600;
}
.footer{
    padding:40px 32px;
    display:flex;
    justify-content:space-between;
    color:white;
    border-bottom: 1px solid lab(65.9269% -.832707 -8.17473);
}
.footer__subpart .footer--partsub{
    max-width: 327.604px;
}
.footer__subpart{
    max-width: 237.458px;

}
.footer__subpart{
    max-width: 237.458px;
    
}
.footer__subpart p{
    margin-bottom: 12px;
    
    
}

.footer__endpart{
    display:flex;
    justify-content: space-between;
    padding: 32px;
    color:lab(47.7841% -.393182 -10.0268);
    font-size: 12px;
    line-height: calc(1 / .75);
}
.hidewithnotes{
    display:none;
}
.createnoteoption{
    display:block;
}

.mobile-menu{
    position:fixed;

    top:0;
    right:0;

    width:100%;
    height:60vh;

    background-color:lab(8.11897% .811279 -12.254);

    z-index:1000;

    padding:24px;

    color:white;
}

.hidden{
    display:none;
}

.mobile-top{
    display:flex;

    justify-content:space-between;

    align-items:center;

    padding-bottom:24px;

    border-bottom:1px solid #374151;
}

.mobile-logo{
    display:flex;

    align-items:center;

    gap:12px;
}

.mobile-logo .pen{
    width:32px;
    height:32px;

    color:#6366f1;
}

.close-menu{
    background:none;

    border:none;

    color:white;

    font-size:18px;

    cursor:pointer;
    font-weight: 400;
}

.mobile-links{
    display:flex;

    flex-direction:column;

    gap:32px;

    margin-top:40px;
    background-color: lab(8.11897% .811279 -12.254);
}

.mobile-links a{
    text-decoration:none;

    color:#6366f1;

    font-size:20px;

    font-weight:600;
}

.mobile-links button{
    height:36px;

    border:none;

    border-radius:12px;

    background:#6366f1;

    color:white;

    font-size:20px;

    font-weight:600;

    cursor:pointer;
}



@media(max-width:768px){
    body{
        padding:56px 24px;
    }
    






    .right-part .headerbutton{
        display:none;
    }
    .right-part .logoutlink{
        display:none;
    }
   
    .right-part .sandwhichicon{
        display:block;
    }
    .h-6 {
        width:24px;
        height:24px;
        color:white;
    }

}




