*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    margin-top: 48px;
    margin-bottom: 48px;
    padding:48px 24px;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.container .logo img{
    width:72px;
    height:57px;
    margin-bottom: 24px;
}
.container .content .title{
    font-weight: 700px;
    font-size: 48px;
    margin-bottom: 8px;
    text-align: center;
    color: white;

}
.container .content .description{
    font-weight: 300px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
    max-width: 597.667px;
    text-align: center;
    color: white;

}
.container .buttons button{
    /*background-color: #0d6efd;*/
    color:white;
    padding:8px 24px;
    border-radius: 5px;
    border:0.667px solid black;
    font-weight: 500px;
    font-size: 18px;

  
}
.container .buttons button:hover{
    background-color: rgb(51, 49, 49);
    border:transparent;
    cursor: pointer;
}
.container .buttons .active{
    background-color: #0d6efd;
    border:transparent;
}
.container .buttons .active:hover{
    background-color: #032753;
    border:transparent;
    cursor: pointer;
}
.container .buttons .btn{
    margin-right: 16px;
}
.container .content1 .title{
    font-weight: 700px;
    font-size: 48px;
    margin-bottom: 8px;
    text-align: center;
    color:white;

}

.container .content1 .description{
    font-weight: 300px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
    max-width: 652.667px;
    text-align: center;
    color:white;
}
.container .content1{
    display:none;
}

   