.header-part{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 2px solid #ccc;
    background-color: black;
}
.header-part .leftpart a img{
  width:40px;
  height: 32px;
  margin-left: 35.667px;
  background-color: white;
}

.header-part .leftpart{
    display: flex;
    align-items: center;

}
.header-part .leftpart .nav-links{
    display: flex;
    padding:8px;
    list-style: none;
}

.header-part .leftpart .nav-links li{
    padding: 8px;
}

.header-part .leftpart .nav-links li a{
   text-decoration: none;
   color:white;
}
.header-part .rightpart{
    display: flex;
    align-items: center;
    position: relative;
}
.header-part .rightpart input{
    padding:6px 12px;
    border:1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
.header-part .rightpart img{
   width:32px;
   height:32px;
   border-radius: 50%;
   margin-right: 35.667px;
}
.header-part .rightpart i{
    position: absolute;
    right: 12.667px;
    /*top: 50%;*/
    transform: translateY(-50%);
    color: white;
}
.header-part .rightpart .dropdown{
    display: none;
    position: absolute;
    top: 100%;
    right: 46px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    padding: 8px 0px;
    /*padding-right: 30px;*/
    width:150px;
    margin-top: 8px;
}
.header-part .rightpart .dropdown .item{
    padding-left: 15px;
}
.header-part .rightpart .dropdown li{
    margin-bottom: 7px;
}
.header-part .rightpart .dropdown li a{
    text-decoration: none;
    color: black;
}
.header-part .rightpart .dropdown .list3{
    border-bottom: 1px solid #ccc;
    
}
.header-part .rightpart i:hover + .dropdown{
    display:block;
}

